<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
<div id='map' style='width: 100%; height: 100%;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW50eWRlbWlkb3YiLCJhIjoiY2twN2luNnc1MDBvMTJvcGxpa3FjZzQ1MiJ9.GBkTgu8vLZ6hz_p6DDoZlQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/antydemidov/cl2uhwt0w008414pcki2f86f7',
        zoom: 12,
        center: [54.22265, 49.6031]
    });
</script>